<div class="form-group">
  <label>Player Name:</label>
  <input [(ngModel)]="selectedCharacter.playerName" class="form-control" required>
</div>

<div class="form-group">
  <label>Character Name:</label>
  <input [(ngModel)]="selectedCharacter.characterName" class="form-control" required>
</div>

<div class="form-group">
  <label>Race:</label>
  <select [(ngModel)]="selectedCharacter.race" class="form-control">
    <option value="Aasimar">Aasimar</option>
    <option value="Dragonborn">Dragonborn</option>
    <option value="Dwarf">Dwarf</option>
    <option value="Elf">Elf</option>
    <option value="Firbolg">Firbolg</option>
    <option value="Gnome">Gnome</option>
    <option value="Half-Elf">Half-Elf</option>
    <option value="Half-Orc">Half-Orc</option>
    <option value="Halfling">Halfling</option>
    <option value="Human">Human</option>
    <option value="Lizardfolk">Lizardfolk</option>
    <option value="Tiefling">Tiefling</option>
  </select>
</div>

<div class="form-group">
  <label>Class:</label>
  <select [(ngModel)]="selectedCharacter.class" class="form-control">
    <option value="Barbarian">Barbarian</option>
    <option value="Bard">Bard</option>
    <option value="Druid">Druid</option>
    <option value="Fighter">Fighter</option>
    <option value="Monk">Monk</option>
    <option value="Paladin">Paladin</option>
    <option value="Ranger">Ranger</option>
    <option value="Sorcerer">Sorcerer</option>
    <option value="Warlock">Warlock</option>
  </select>
</div>

<div class="form-group">
  <label>Level:</label>
  <select [(ngModel)]="selectedCharacter.level" class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
</div>

<div class="form-group">
  <label>Background:</label>
  <select [(ngModel)]="selectedCharacter.background" class="form-control">
    <option value="Acolyte">Acolyte</option>
    <option value="Charlatan">2/Charlatan</option>
    <option value="Criminal">Criminal</option>
    <option value="Entertainer">Entertainer</option>
    <option value="Folk Hero">Folk Hero</option>
    <option value="Guild Artisan">Guild Artisan</option>
    <option value="Hermit">Hermit</option>
    <option value="Noble">Noble</option>
    <option value="Outlander">Outlander</option>
    <option value="Sage">Sage</option>
    <option value="Sailor">Sailor</option>
    <option value="Soldier">Soldier</option>
    <option value="Urchin">Urchin</option>
  </select>
</div>

<div class="form-group">
  <label>Alignment:</label>
  <select [(ngModel)]="selectedCharacter.alignment" class="form-control">
    <option value="LG">Lawful Good</option>
    <option value="NG">Neutral Good</option>
    <option value="CG">Chaotic Good</option>
    <option value="LN">Lawful Neutral</option>
    <option value="N">True Neutral</option>
    <option value="NC">Chaotic Neutral</option>
    <option value="LE">Lawful Evil</option>
    <option value="NE">Neutral Evil</option>
    <option value="CE">Chaotic Evil</option>
  </select>
</div>

<div class="form-group">
  <button (click)='beginEditCharacter( selectedCharacter )' class="btn btn-success">Save Changes!</button>
  <hr>
  <button (click)="beginDeletingCharacter(selectedCharacter)">Delete</button>
</div>
